
services:
  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: 5th_semester_backend
    ports:
      - "8081:8081"
    volumes:
      - ./api:/src
      - /src/bin
      - /src/obj
    working_dir: /src
    command: dotnet watch run --urls "http://0.0.0.0:8081"
    depends_on:
      - postgres
    restart: unless-stopped

  frontend:
    build:
      context: ./my-app
      dockerfile: Dockerfile
    container_name: 5th_semester_frontend
    ports:
      - "5179:5179"
    volumes:
      - ./my-app:/app
      - /app/node_modules
    command: npm run dev -- --host
    depends_on:
      - backend
    restart: unless-stopped

  postgres:
    image: postgres:latest
    container_name: 5th_semester_database
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

volumes:
  pgdata:
